.wrapper {
    margin-right: 12px;
    padding: 6px 20px;
    min-width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 22px;
    white-space: nowrap;
    border-radius: 4px;
    color: var(--quaternary-text-color);
    background-color: #fff;
    user-select: none;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.iconLeft span {
        margin-left: 8px;
    }

    &.iconRight span {
        margin-right: 8px;
    }

    & span {
        display: flex;
    }
}

.primary {
    background-color: var(--yellow-primary-color);
}

.secondary {
    color: var(--primary-text-color);
    background-color: var(--purple-primary-color);
}

.tertiary {
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
}

.quaternary {
    background-color: var(--tertiary-text-color);
}

.quinary {
    color: var(--tertiary-text-color);
    background-color: var(--tertiary-bg-color);
}

.rounded {
    padding: 0;
    width: 40px !important;
    min-width: 40px;
    font-size: 1.6rem;
    border-radius: 50%;
}

// Button sizes
.small {
    margin: 0 5px 5px 0;
    padding: 0 10px;
    min-width: unset;
    height: 30px;
    font-size: 1.3rem !important;
    font-weight: 400;
}

.small2 {
    margin: 0 4px 4px 0;
    padding: 4px 8px;
    min-width: unset;
    height: 28px;
    font-size: 1.2rem !important;
    font-weight: 400;
}

.medium2 {
    padding: 6.4px;
    min-width: 80px;
    height: 32px;
    height: 32px;
    font-size: 1.26rem !important;
    border-radius: 6px;
}

.large {
    padding: 13px 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.large2 {
    padding: 15px;
    min-width: 132px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 500;
}
