@use '/src/components/GlobalStyles/GlobalStyles.module.scss' as styles;

.wrapper {
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: var(--width-layout);

    @include styles.desktop-tablet {
        padding: 0 15px;
    }

    .btn {
        @include styles.tablet {
            @for $i from 14 through 55 {
                &:nth-child(#{$i}) {
                    display: none;
                }
            }
        }
    }
}
