.wrapper {
    flex: 1;
    height: 100%;
    background-color: #111111;

    .page-list {
        height: 100%;
        overflow-y: auto;

        .page-item {
            position: relative;
            margin: 0 auto;
            width: 60%;
            min-height: 200px;
            display: flex;
            justify-content: center;

            img {
                width: auto;
                max-width: 100%;
                object-fit: cover;
                z-index: 10;
            }

            .loading {
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translate(-50%, -50%);
                user-select: none;

                p {
                    margin-top: 20px;
                    font-size: 1.4rem;
                    color: #999999;
                }
            }
        }

        .chapter-btn-wrap {
            margin: 20px auto 30px;
            padding: 15px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 10px;
            background-color: #222222;

            .chapter-btn {
                padding: 8px 12px;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.5;
                white-space: nowrap;
                border-radius: 4px;
                color: #fff;
                background-color: #444444;

                & + .chapter-btn {
                    margin-left: 8px;
                }

                &.disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }

                svg {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
