@use '/src/components/GlobalStyles/GlobalStyles.module.scss' as styles;

.header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
        display: flex;
        align-items: center;

        .heading {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 4rem;

            @include styles.pc {
                font-size: 2rem;
            }

            @include styles.tablet-mobile {
                line-height: 1.3;
            }
        }
    }
}

.mostView-list {
    margin-top: -8px;

    .mostView-item {
        position: relative;
        margin-bottom: 10px;
        padding: 8px 0;
        display: flex;
        align-items: center;

        &.top {
            .ranking span {
                color: var(--tertiary-text-color);
            }
        }

        &:not(.top):hover {
            .ranking span {
                color: var(--purple-primary-color);
            }
        }

        .ranking {
            position: absolute;
            top: 8px;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: var(--secondary-bg-color);

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 2rem;
                font-weight: 600;
                color: var(--secondary-text-color);
                transform: translate(-50%, -50%);
            }
        }

        .poster {
            margin-right: 20px;
            height: 80px;
            display: flex;
            aspect-ratio: 6/8;

            a,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            flex: 1;
            position: relative;
            padding-right: 60px;
            color: var(--secondary-text-color);

            .name {
                margin-bottom: 5px;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 21px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            .genres {
                margin-bottom: 5px;
                font-size: 1.26rem;
                line-height: 1.5;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;

                a:last-child,
                span:nth-last-child(2) {
                    @include styles.mobile {
                        display: none;
                    }
                }
            }

            .chapter-btn {
                font-size: 1.26rem;
                color: var(--tertiary-text-color);

                a {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 6px;
                    }
                }
            }

            a {
                color: inherit;

                &:hover {
                    color: var(--tertiary-text-color);
                }
            }
        }

        .view {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 6px;
            display: flex;
            align-items: center;
            font-size: 1.26rem;
            line-height: 20px;
            border: 1px solid var(--tertiary-bg-color);
            border-radius: 4px;

            svg {
                margin-right: 6px;
            }
        }
    }
}
