@use '/src/components/GlobalStyles/GlobalStyles.module.scss' as styles;

// Auth Form
.body {
    padding: 0 60px 20px;

    @include styles.mobile {
        padding: 0 20px 20px;
    }
}

.footer {
    padding: 12px 12px 0;
    font-size: 1.6rem;
    text-align: center;
    color: var(--secondary-text-color);

    & button {
        margin-left: 6px;
        font-size: 1.5rem;
        color: var(--tertiary-text-color);
        background-color: transparent;
        cursor: pointer;
    }
}

// Login Form & Signup Form
.form-group {
    margin-bottom: 20px;

    .label {
        margin-bottom: 8px;
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        opacity: 0.5;
        color: var(--secondary-text-color);
    }

    .form-input {
        padding: 12px 20px;
        width: 100%;
        font-size: 1.3rem;
        border-radius: 3px;
        color: var(--secondary-text-color);
        background-color: var(--tertiary-bg-color);
    }
}

.form-check {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;

        & input[type='checkbox'] {
            width: 1.6rem;
            height: 1.6rem;
            opacity: 0;

            &:checked ~ label::before {
                border-color: var(--checkbox-color);
                background-color: var(--checkbox-color);
            }
        }

        & label {
            position: relative;
            margin-left: 8px;
            font-size: 1.4rem;
            color: var(--secondary-text-color);

            &::before {
                content: '';
                position: absolute;
                inset: 50% calc(100% + 8px) 0 auto;
                width: 1.4rem;
                height: 1.4rem;
                border-radius: 4px;
                border: 1px solid #adb5bd;
                background-color: #fff;
                transform: translateY(-50%);
                transition: background-color 0.15s ease-in-out;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 50% calc(100% + 8px) 0 auto;
                width: 1.6rem;
                height: 1.6rem;
                background-repeat: no-repeat;
                background-size: 64%;
                background-position: center;
                background-image: url('/assets/images/checkbox.png');
                transform: translateY(-50%);
            }
        }
    }

    .right button {
        font-size: 1.4rem;
        color: var(--tertiary-text-color);
        background-color: transparent;
        cursor: pointer;
    }
}

.form-submit {
    margin-top: 24px;

    .submit-btn {
        padding: 12px;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 4px;
        color: #111;
        background-color: var(--tertiary-text-color);
        cursor: pointer;
    }
}

.error {
    margin-bottom: 16px;
    padding: 12px 20px;
    font-size: 13px;
    line-height: 1.4em;
    border: 1px solid #f5c6cb;
    color: #721c24;
    background-color: #f8d7da;
}

.loading {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
