.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1000;

    &.show {
        opacity: 1;
        visibility: visible;

        .wrapper {
            transform: translateY(0);
        }
    }

    .wrapper {
        width: 500px;
        max-width: calc(100% - 16px);
        border-radius: 20px;
        background-color: var(--secondary-bg-color);
        transform: translateY(-60px);
        transition: all 0.3s ease-in-out;
    }
}

.header {
    position: relative;
    padding: 30px 30px 0;
    color: var(--secondary-text-color);

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        border-radius: 0 20px 0 20px;
        background-color: var(--tertiary-bg-color);
        cursor: pointer;
    }

    .title {
        padding: 0 20px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
}

.body {
    padding: 20px 0 30px;
    max-height: calc(100vh - 60px - 90px);
    display: flex;
    flex-direction: column;

    .content {
        max-height: 100%;
        overflow-y: overlay;
    }
}
