@use '/src/components/GlobalStyles/GlobalStyles.module.scss' as styles;

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: var(--width-layout);
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.higher {
        height: 100px;
    }

    @include styles.pc {
        height: 70px !important;
    }

    @include styles.desktop-tablet {
        padding: 0 15px;
    }

    .menu-btn {
        margin: 0 16px 0 -8px;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 3.6rem;
        cursor: pointer;

        @include styles.pc {
            display: flex;
        }

        @include styles.mobile {
            margin: 0 10px 0 -8px;
        }
    }

    .logo {
        flex-shrink: 0;
        width: 160px;
        display: flex;

        @include styles.mobile {
            width: 128px;
        }

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1;
        display: flex;
        justify-content: space-between;

        @include styles.desktop {
            justify-content: flex-end;
        }
    }
}

.navbar {
    display: flex;
    align-items: center;

    &:nth-child(1) {
        @include styles.desktop {
            display: none;
        }
    }

    .item-wrap {
        margin-left: 24px;

        @include styles.pc {
            margin-left: 20px;
        }

        .item {
            padding: 0 10px;
            height: 32px;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                color: var(--yellow-primary-color);
            }

            @include styles.pc {
                font-size: 1.4rem;
            }

            & a {
                color: inherit;
            }

            & svg {
                margin-left: 6px;
            }
        }
    }

    .user-wrap {
        margin-left: 30px;

        @include styles.pc-desktop {
            margin-left: 20px;
        }

        @include styles.mobile {
            margin-left: 10px;
        }

        .user {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            border-radius: 50%;
            background-color: var(--secondary-bg-color);
            cursor: pointer;

            &:hover {
                color: var(--tertiary-text-color);
            }

            .avatar {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1.6px solid #fff;
                border-radius: inherit;
            }
        }
    }
}

.box {
    position: relative;
    padding: 8px;
    min-width: 150px;
    border-radius: 12px;
    background-color: var(--tertiary-bg-color);

    &::before {
        content: '';
        position: absolute;
        inset: auto 0 100% 0;
        height: 10px;
    }

    & a {
        padding: 6px 10px;
        display: block;
        font-size: 1.5rem;
        border-radius: 8px;

        &:hover {
            color: var(--tertiary-text-color);
            background-color: var(--quaternary-bg-color);
        }
    }
}
